@tailwind base;
@tailwind components;
@tailwind utilities;
@import "https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/main.min.css";

body {
    font-family: "Figtree", ui-sans-serif, system-ui, sans-serif;
}